USE [master]
GO
/****** Object:  Database [Magic]    Script Date: 28/04/2018 03:42:40 ******/
CREATE DATABASE [Magic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Magic.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Magic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Magic_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magic]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 28/04/2018 03:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[SubType] [varchar](max) NULL,
	[BlueMana] [int] NULL,
	[GreenMana] [int] NULL,
	[WhiteMana] [int] NULL,
	[BlackMana] [int] NULL,
	[RedMana] [int] NULL,
	[NeutralMana] [int] NULL,
	[Rarity] [int] NOT NULL,
	[Mechanic] [varchar](max) NULL,
	[CodeName] [varchar](max) NULL,
	[Power] [int] NOT NULL,
	[Defense] [int] NOT NULL,
	[EditionId] [int] NOT NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edition]    Script Date: 28/04/2018 03:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Url_Logo] [varchar](max) NULL,
 CONSTRAINT [PK_Edition] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_Edition] FOREIGN KEY([EditionId])
REFERENCES [dbo].[Edition] ([Id])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_Edition]
GO
USE [master]
GO
